.about-founder {
  background-color: $color-base-gray;
}

.about-founder__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @include vp-1199 {
    flex-direction: column-reverse;
  }
}

.about-founder__slider-wrapper {
  width: 720px;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.about-founder__img-wrapper {
  @include vp-1199 {
    display: flex;
    justify-content: center;
  }
}

.about-founder__img-wrapper img {
  display: block;
  width: 720px;
  height: 677px;

  @include vp-767 {
    width: 320px;
    height: 300px;
  }
}

// info

.about-founder__inner-wrapper {
  padding: 80px 20px 65px 45px;

  @include vp-1199 {
    padding: 60px 60px 35px;
  }

  @include vp-767 {
    padding: 30px 20px 51px;
  }
}

.about-founder__title {
  margin: 0 0 11px;
  padding: 0;
  max-width: 534px;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include vp-1199 {
    max-width: 688px;
  }

  @include vp-767 {
    margin: 0 0 8px;

    max-width: none;
    width: 100%;
    font-size: 24px;
    line-height: 36px; /* 150% */
  }
}

.about-founder__description {
  margin: 0 0 22px;
  padding: 0;
  max-width: 534px;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include vp-1199 {
    max-width: 688px;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }

  &--span {
    margin: 0 0 55px;

    @include vp-767 {
      margin: 0 0 39px;
    }
  }
}

.about-founder__description--bold {
  margin: 0 0 80px;
  padding: 0;
  max-width: 534px;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 40px;
    background: url("../img/svg/signature.svg") no-repeat center center/cover;
    top: 33px;
    right: 60px;

    @include vp-1199 {
      top: 22px;
      right: 125px;
    }

    @include vp-767 {
      width: 105px;
      height: 30px;
      top: 25px;
      left: 50%;
    }
  }

  @include vp-1199 {
    max-width: 688px;
    margin: 0 0 46px;
  }

  @include vp-767 {
    margin: 0 0 45px;
    max-width: none;
    width: 100%;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.about-founder__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;

  @include vp-767 {
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.about-founder__button-more {
  padding: 12px;
  width: 148px;

  color: $color-base-secondary;
  background-color: $color-white;
  border: 1px solid $color-base-secondary;
  border-radius: 30px;
  transition: $trans-default;

  @include vp-767 {
    width: 40%;
    min-width: 130px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background: $color-secondary-darker;
    border: 1px solid $color-secondary-darker;
    outline: none;
    transition: $trans-default;
  }

  &:active {
    color: $color-white;
    background: $color-secondary-extra-darker;
    transition: $trans-default;
  }

  &:disabled,
  &--disabled {
    color: $color-white;
    background: $color-disabled;
    opacity: 0.5;
    pointer-events: none;
  }
}

.about-founder__button-doctors {
  padding: 12px;
  width: 200px;

  color: $color-white;
  background: $color-base-secondary;
  border: none;
  border-radius: 30px;
  box-shadow: $button-shadow;
  transition: $trans-default;

  @include vp-767 {
    width: 40%;
    min-width: 130px;
  }

  &:hover,
  &:focus {
    background: $color-secondary-darker;
    outline: none;
    transition: $trans-default;
  }

  &:active {
    background: $color-secondary-extra-darker;
    transition: $trans-default;
  }

  &:disabled,
  &--disabled {
    background: $color-disabled;
    opacity: 0.5;
    pointer-events: none;
  }
}
