.address {
  margin: 0;
  width: 100%;

  position: relative;
}

.address__wrapper {
  position: absolute;

  top: 60px;
  left: 50%;

  padding: 40px 45px 40px;
  background-color: $color-white;
  border-radius: 30px;
  z-index: 2;

  @include vp-1199 {
    border-radius: 0;
    position: static;
  }

  @include vp-767 {
    padding: 30px 20px;
  }
}

.address__info-wrapper {
  display: flex;
  flex-direction: column
}

.address__title {
  margin: 0 0 44px;
  padding: 0;
  width: 100%;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include vp-767 {
    margin: 0 0 15px;

    font-size: 24px;
    line-height: 36px; /* 150% */
  }
}

.address__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.address__item {
  margin: 0 0 16px;
  padding: 0 0 0 45px;

  &--mail {
    background: url("../img/svg/mail.svg") no-repeat left center / 25px 24px;

    @include vp-767 {
      padding: 0 0 0 20px;
      background: url("../img/svg/mail.svg") no-repeat left center / 14px 11px;
    }
  }

  &--address {
    background: url("../img/svg/pin.svg") no-repeat left center / 24px 30px;

    @include vp-767 {
      padding: 0 0 0 20px;
      background: url("../img/svg/pin.svg") no-repeat left center / 14px 17px;
    }
  }

  @include vp-767 {
    margin: 0;
  }
}

.address__link {
  margin: 0;
  padding: 0;
  position: relative;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.address__info-inner-wrapper {
  margin: 0 0 44px;
  display: flex;
  column-gap: 80px;
  align-items: center;

  @media (min-width: 1200px) and (max-width: 1300px) {
    column-gap: 60px;
  }

  @include vp-1199 {
    column-gap: 80px;
  }

  @include vp-767 {
    margin: 0 0 15px;

    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

.address__opening-hours {
  margin: 0;
  padding: 0;
  width: 182px;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    width: 100%;
  }
}

.address__subway-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.address__subway-item {
  margin: 0;
  padding: 0 0 0 45px;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include vp-767 {
    padding: 0 0 0 23px;

    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }

  &--blue {
    background: url("../img/svg/subway-blue.svg") no-repeat left center / 24px 18px;

    @include vp-767 {
      background: url("../img/svg/subway-blue.svg") no-repeat left center / 12px 9px;
    }
  }

  &--purple {
    background: url("../img/svg/subway-purple.svg") no-repeat left center / 24px 18px;

    @include vp-767 {
      background: url("../img/svg/subway-purple.svg") no-repeat left center / 12px 9px;
    }
  }
}

.address__phone {
  margin: 0 0 44px;
  padding: 0;

  color: $color-base-secondary;
  font-family: $ff-montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include vp-767 {
    margin: 0 0 15px;

    font-size: 24px;
    line-height: 36px; /* 150% */
  }
}

.address__map {
  width: 100%;
  height: 625px;
  display: block;
  border: none;

  &--nojs {
    width: 100%;
    height: 625px;
    background-image: image-set(url("../img/location-nojs.webp") type("image/webp"),
      url("../img/location-nojs.jpg") type("image/jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include vp-767 {
      background-image: image-set(url("../img/location-nojs-mobile.webp") type("image/webp"),
      url("../img/location-nojs-mobile.jpg") type("image/jpg"));
    }
  }
}
