.button {
  display: block;

  text-align: center;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 140% */
  letter-spacing: -0.333px;

  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    pointer-events: none;
  }
}
