.form {
  padding: 86px 0 71px;
  background-image:
    linear-gradient(to top, $color-base-primary-085, $color-base-primary-085),
    image-set(url("../img/bg-form.webp") type("image/webp"),
    url("../img/bg-form.jpg") type("image/jpg"));
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;

  @include vp-1199 {
    padding: 60px 0;
  }

  @include vp-767 {
    padding: 30px 0;
  }
}

.form__wrapper {
  @include vp-1199 {
    margin: 0 0 0 100px;
  }

  @include vp-1023 {
    margin: 0 0 0 30px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.form__text-wrapper {
  margin: 0 0 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @include vp-1199 {
    margin: 0 0 48px;
    flex-direction: column;
    gap: 24px;
  }

  @include vp-767 {
    margin: 0 0 20px 0;
    gap: 18px;
  }
}

.form__title {
  margin: 0;
  padding: 0;
  width: 500px;
  text-align: end;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @include vp-1199 {
    width: 100%;
    text-align: start;
  }

  @include vp-767 {
    text-align: center;
    font-size: 24px;
    line-height: 36px; /* 150% */
  }
}

.form__description {
  margin: 0;
  padding: 0;
  width: 500px;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */

  @include vp-1199 {
    width: 100%;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
  }

  @include vp-767 {
    text-align: center;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.form__agreement {
  margin: 0;
  padding: 0;
  width: 320px;

  color: $color-white;
  font-family: $ff-montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 186.667% */
  letter-spacing: -0.333px;

  @include vp-767 {
    width: 100%;
    text-align: center;
  }
}

.form__agreement a {
  color: inherit;
}

.form__form-wrapper {
  margin: 0 auto;
  width: 680px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;

  @include vp-1199 {
    margin: 0;
    width: 668px;
    gap: 30px 28px;
  }

  @include vp-767 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.form__form-name,
.form__phone-number {
  width: 320px;

  @include vp-767 {
    width: 100%;
  }
}

.form__form-wrapper input {
  position: relative;
  padding: 13px 0 13px 30px;
  width: 320px;
  height: 50px;
  color: $color-base-primary;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 16px;

  font-family: $ff-montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: $trans-default;

  @include vp-767 {
    padding: 16px 0 16px 30px;
    width: 100%;;
  }

  &:hover:enabled {
    border: 1px solid $color-base-secondary;
  }

  &:active:enabled,
  &:focus:enabled {
    outline: 2px solid $color-black-lighter;

    &::placeholder {
      visibility: hidden;
    }
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &::placeholder {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: $color-white;

    color: $color-base-primary;
    font-family: $ff-montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

[data-validate-type].is-invalid input {
  outline: 2px solid $color-error;
}

.form__form-wrapper .input-message {
  font-family: $ff-montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.form__form-wrapper .input-message.is-invalid {
  color: $color-error;
}

.form__form-wrapper .input-message.is-valid {
  color: $color-white;
}

.form__button {
  width: 320px;
  min-height: 48px;
  padding: 11px;
  background-color: $color-base-secondary;
  border: 1px solid $color-base-secondary;
  border-radius: 30px;

  color: $color-white;
  text-align: center;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
  letter-spacing: -0.333px;

  cursor: pointer;
  transition: $trans-default;

  @include vp-767 {
    width: 100%;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-secondary-darker;

    background-color: $color-secondary-darker;
    outline: none;
    transition: $trans-default;
  }

  &:active {
    border: 1px solid $color-secondary-extra-darker;
    background-color: $color-secondary-extra-darker;
    transition: $trans-default;
  }

  &:disabled {
    color: $color-disabled;
    border: 1px solid $color-disabled;
    pointer-events: none;
  }
}
