.promo {
  padding: 90px 0 80px;
  background-color: $color-white;

  @include vp-1199 {
    padding: 60px 20px 60px;
  }

  @include vp-767 {
    padding: 30px 0 60px;
  }
}

.promo__title {
  margin: 0 0 56px;
  padding: 0;
  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include vp-1199 {
    margin: 0 0 54px;
  }

  @include vp-767 {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 36px; /* 150% */
  }
}

.promo__slider-wrapper {
  margin: 0 auto;
  position: relative;
}

.promo__swiper {
  width: 980px;

  @include vp-1199 {
    width: 630px;
  }

  @include vp-1023 {
    width: 300px;
  }

  @include vp-767 {
    width: 462px;
  }

  @include vp-599 {
    width: 226px;
  }
}

.promo__slide {
  width: 300px;
  border: 1px solid $color-base-primary;
  border-radius: 16px;
  overflow: hidden;

  @include vp-1199 {
    width: 300px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.promo__slide-wrapper {
  width: 300px;

  @include vp-1199 {
    width: 300px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.promo__img-wrapper picture {
  width: 300px;
  height: 200px;

  @include vp-767 {
    width: 226px;
    height: 151px;
  }
}

.promo__img-wrapper img {
  border-radius: 16px;
  display: block;
  object-fit: cover;
  z-index: -1;

  width: 300px;
  height: 200x;

  @include vp-767 {
    width: 226px;
    height: 151px;
  }
}

.promo__swiper-button {
  position: absolute;
  top: 60%;
  transition: $trans-default;

  &--prev {
    left: calc((100% - 980px) / 2 - 89px);
    transform: translate(0, -50%);
  }

  &--next {
    right: calc((100% - 980px) / 2 - 89px);
    transform: translate(0, -50%);
  }

  @include vp-1199 {
    &--prev {
      left: calc((100% - 630px) / 2 - 89px);
    }

    &--next {
      right: calc((100% - 630px) / 2 - 89px);
    }
  }

  @include vp-1023 {
    &--prev {
      left: calc((100% - 300px) / 2 - 89px);
    }

    &--next {
      right: calc((100% - 300px) / 2 - 89px);
    }
  }

  @include vp-767 {
    top: 65%;
    &--prev {
      left: calc((100% - 462px) / 2 - 40px);
    }

    &--next {
      right: calc((100% - 462px) / 2 - 40px);
    }
  }

  @include vp-599 {
    top: 65%;
    &--prev {
      left: calc((100% - 226px) / 2 - 40px);
    }

    &--next {
      right: calc((100% - 226px) / 2 - 40px);
    }
  }
}
