.reviews {
  padding: 90px 0 80px;
  background: $gradient-reviews;

  @include vp-1199 {
    padding: 60px 0;
  }

  @include vp-767 {
    padding: 30px 0 60px;
  }
}

.reviews__slider-wrapper {
  position: relative;
  margin: 0 0 70px;

  @include vp-1199 {
    margin: 0 0 60px;
  }

  @include vp-767 {
    margin: 0 0 30px;
  }
}

.reviews__swiper {
  width: 980px;

  @media (min-width: 1200px) and (max-width: 1300px) {
    width: 880px;
  }

  @include vp-1199 {
    width: 770px;
  }

  @include vp-1023 {
    width: 470px;
  }

  @include vp-767 {
    width: 320px;
  }

  @include vp-479 {
    width: 226px;
  }
}

.reviews__slide {
  width: 470px;

  @media (min-width: 1200px) and (max-width: 1300px) {
    width: 420px;
  }

  @include vp-1199 {
    width: 770px;
  }

  @include vp-1023 {
    width: 470px;
  }

  @include vp-767 {
    width: 320px;
  }

  @include vp-479 {
    width: 226px;
  }
}

.reviews__slide-wrapper {
  width: 470px;

  padding: 40px;
  border-radius: 16px;
  border: 1px solid $color-base-primary;
  background-color: $color-white;

  @media (min-width: 1200px) and (max-width: 1300px) {
    width: 420px;
  }

  @include vp-1199 {
    width: 770px;
  }

  @include vp-1023 {
    width: 470px;
  }

  @include vp-767 {
    padding: 25px 20px;
    width: 320px;
  }

  @include vp-479 {
    width: 226px;
  }
}

.reviews__title {
  margin: 0 0 56px;
  padding: 0;
  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include vp-1199 {
    margin: 0 0 60px 20px;
  }

  @include vp-767 {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 36px; /* 150% */
  }
}

.reviews__commentator {
  margin: 0 0 20px;
  padding: 0;
  color: $color-base-secondary;
  font-family: $ff-montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */

  @include vp-767 {
    font-size: 16px;
    line-height: normal;
  }
}

.reviews__comment {
  margin: 0 0 66px;
  padding: 0;
  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include vp-767 {
    font-size: 12px;
    line-height: 20px; /* 166.667% */
  }
}

.reviews__added-wrapper {
  display: flex;
  justify-content: space-between;
}

.reviews__link-more {
  margin: 0;
  padding: 0;
  color: $color-light-gray;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  align-items: center;
  gap: 10px;

  @include vp-767 {
    font-size: 14px;
    letter-spacing: -1px;
  }

  &:hover,
  &:focus {
    color: $color-base-primary;
    outline: none;
  }

  &:active {
    color: $color-secondary-extra-darker;
  }

  &:disabled,
  &--disabled {
    color: $color-disabled;
    opacity: 0.5;
  }
}

.reviews__link-more:active svg {
  color: $color-secondary-extra-darker;
}

.reviews__link-more:disabled svg,
.reviews__link-more--disabled svg {
  color: $color-disabled;
  opacity: 0.5;
}


.reviews__link-more svg {
  color: $color-base-primary;
}

.reviews__aggregator {
  margin: 0;
  padding: 0;
  color: $color-base-secondary;
  text-align: right;
  font-family: $ff-montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include vp-767 {
    display: none;
  }
}


.reviews__swiper-button {
  position: absolute;
  top: 170px;
  transition: $trans-default;

  &--prev {
    left: calc((100% - 980px) / 2 - 89px);
    transform: translate(0, -50%);
  }

  &--next {
    right: calc((100% - 980px) / 2 - 89px);
    transform: translate(0, -50%);
  }

  @media (min-width: 1200px) and (max-width: 1300px) {
    &--prev {
      left: calc((100% - 880px) / 2 - 89px);
    }

    &--next {
      right: calc((100% - 880px) / 2 - 89px);
    }
  }

  @include vp-1199 {
    &--prev {
      left: calc((100% - 770px) / 2 - 89px);
    }

    &--next {
      right: calc((100% - 770px) / 2 - 89px);
    }
  }

  @include vp-1023 {
    &--prev {
      left: calc((100% - 470px) / 2 - 89px);
    }

    &--next {
      right: calc((100% - 470px) / 2 - 89px);
    }
  }

  @include vp-767 {
    &--prev {
      left: calc((100% - 320px) / 2 - 50px);
    }

    &--next {
      right: calc((100% - 320px) / 2 - 50px);
    }
  }

  @include vp-479 {
    top: 200px;

    &--prev {
      left: calc((100% - 226px) / 2 - 40px);
    }

    &--next {
      right: calc((100% - 226px) / 2 - 40px);
    }
  }
}

.reviews__button-wrapper {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1200px) and (max-width: 1300px) {
    max-width: 880px;
  }

  @include vp-1199 {
    max-width: 770px;
    gap: 24px;
  }

  @include vp-1023 {
    max-width: 668px;
  }

  @include vp-767 {
    max-width: 320px;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
  }

  @include vp-479 {
    max-width: 226px;
  }
}

.reviews__button-review {
  padding: 12px;
  width: 320px;

  color: $color-white;
  background: $color-base-secondary;
  border: none;
  border-radius: 30px;
  box-shadow: $button-shadow;
  transition: $trans-default;

  @include vp-1199 {
    width: 200px;
  }

  @include vp-767 {
    width: 320px;
  }

  @include vp-479 {
    width: 226px;
  }

  &:hover,
  &:focus {
    background: $color-secondary-darker;
    outline: none;
    transition: $trans-default;
  }

  &:active {
    background: $color-secondary-extra-darker;
    transition: $trans-default;
  }

  &:disabled,
  &--disabled {
    background: $color-disabled;
    opacity: 0.5;
    pointer-events: none;
  }
}

.reviews__button-appeal {
  padding: 12px;
  width: 223px;

  color: $color-base-secondary;
  background-color: $color-white;
  border: 1px solid $color-base-secondary;
  border-radius: 30px;
  transform: translate(-50px);
  transition: $trans-default;

  @media (min-width: 1200px) and (max-width: 1300px) {
    transform: translate(0px);
  }

  @include vp-1199 {
    width: 200px;
    transform: translate(0px);
  }

  @include vp-767 {
    width: 320px;
  }

  @include vp-479 {
    width: 226px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background: $color-secondary-darker;
    border: 1px solid $color-secondary-darker;
    outline: none;
    transition: $trans-default;
  }

  &:active {
    color: $color-white;
    background: $color-secondary-extra-darker;
    transition: $trans-default;
  }

  &:disabled,
  &--disabled {
    color: $color-white;
    background: $color-disabled;
    opacity: 0.5;
    pointer-events: none;
  }
}

.reviews__button-all-reviews {
  padding: 12px;
  width: 240px;

  color: $color-white;
  background: $color-base-primary;
  border: none;
  border-radius: 30px;
  transition: $trans-default;

  @include vp-1199 {
    width: 220px;
  }

  @include vp-767 {
    width: 320px;
  }

  @include vp-479 {
    width: 226px;
  }

  &:hover,
  &:focus {
    background: $color-primary-darker;
    outline: none;
    transition: $trans-default;
  }

  &:active {
    background: $color-secondary-extra-darker;
    transition: $trans-default;
  }

  &:disabled,
  &--disabled {
    background: $color-disabled;
    opacity: 0.5;
    pointer-events: none;
  }
}
