.services {
  background-color: $color-white;
  padding: 90px 0;

  @include vp-1199 {
    padding: 60px 0;
  }

  @include vp-767 {
    padding: 30px 0;
  }
}

.services__wrapper {
  @include vp-1199 {
    padding: 0 20px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.services__title {
  margin: 0 0 56px;
  padding: 0;
  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @include vp-1199 {
    margin: 0 0 54px;
  }

  @include vp-767 {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 36px; /* 150% */
  }
}

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 20px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

.services__item {

  @include vp-1199 {
    &--therapy {
      order: -3;
    }

    &--implantation {
      order: -3;
    }

    &--veneers {
      order: -1;
    }

    &--surgery {
      order: -2;
    }

    &--prosthetics {
      order: -2;
    }

    &--teddy {
      order: -1;
    }

    &--orthodontics {
      order: 0;
    }

    &--hygiene {
      order: -1;
    }
  }
}

.services__link {
  margin: 0;
  padding: 0 0 0 25px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 15px;
  transition: $trans-default;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
    transition: $trans-default;
  }

  &:active {
    opacity: 0.5;
    transition: $trans-default;
  }

  &:disabled,
  &--disabled {
    color: $color-disabled;
    opacity: 0.5;
  }
}

.services__link svg {
  color: $color-base-primary;
}

.services__link:hover svg,
.services__link:focus svg {
  color: $color-base-secondary;
}

.services__link:active svg {
  color: $color-base-secondary;
  opacity: 0.5;
}

.services__link:disabled svg,
.services__link--disabled svg {
  color: $color-disabled;
  opacity: 0.5;
}

.services__icon-wrapper {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__name {
  margin: 0;
  padding: 0;

  color: $color-black-lighter;
  font-family: $ff-montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */

  @include vp-767 {
    font-size: 18px;
    line-height: normal;
  }
}
