// Colors
// ---------------------------------

// Default

$color-black:#000000;
$color-white:#ffffff;
$color-transparent:rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-black-lighter: #444444;
$color-base-gray: #f8f8f8;
$color-base-primary: #99c7ce;
$color-base-primary-085:rgba(153, 199, 206, 0.85);
$color-base-secondary: #4d92a3;
$color-secondary-03: rgba(77, 146, 163, 0.3);
$color-secondary-lighter: #a6c8d1;
$color-secondary-darker: #3d7482;
$color-secondary-extra-darker: #2e5761;
$color-primary-darker: #56a2ae;
$color-error: #ed0233;
$color-disabled: #d9d9d9;
$color-light-gray: #b9b9b9;

$button-shadow: 0px 8px 46px rgba(77, 146, 163, 0.4);

// Gradient

$gradient-button: linear-gradient(93deg, #4D92A3 47.42%, #99C7CE 69.66%, rgba(66, 174, 202, 0.75) 86.83%);


$gradient-hero: linear-gradient(180deg, rgba(153, 199, 206, 0.70) 0%, rgba(251, 251, 251, 0.00) 100%), #fbfbfb;
$gradient-primary-tb: linear-gradient(180deg, rgba(153, 199, 206, 0.70) 0%, rgba(251, 251, 251, 0.00) 100%);
$gradient-reviews: linear-gradient(180deg, rgba(153, 199, 206, 0.30) 0%, rgba(255, 255, 255, 0.06) 100%), #ffffff;

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-montserrat: "Montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease-out;
$trans-default: 0.6s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-350: 350px;
$vp-480: 480px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1200: 1200px;
$vp-1440: 1440px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
